*{
    font-family: "Instrument Sans", sans-serif !important;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}
.h-20px {
    height: 20px !important;
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.h-50px {
    height: 50px !important;
}

.mt-n5 {
    margin-top: -2rem !important;
}

.avatar-lg {
    height: 4rem;
    width: 4rem;
}

a.nav-link:hover {
    background: #0d6efd1f;
    border-radius: 10px;
}

a.nav-link {
    border-radius: 10px;
}